# FoldingChair.CLI
FoldingChair.CLI/bin/
FoldingChair.CLI/obj/

# FoldingChair.Engine
FoldingChair.Engine/bin/
FoldingChair.Engine/obj/

# FoldingChair.Runtime
FoldingChair.Runtime/bin/
FoldingChair.Runtime/obj/

# FoldingChair.Tests.NetCore
FoldingChair.Tests.NetCore.Arithmetic/bin/
FoldingChair.Tests.NetCore.Arithmetic/obj/
FoldingChair.sln.DotSettings.user
FoldingChair.sln.DotSettings
