# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FoldingChair.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# FoldingChair.CLI
/FoldingChair.CLI/bin/
/FoldingChair.CLI/obj/

# FoldingChair.Engine
/FoldingChair.Engine/bin/
/FoldingChair.Engine/obj/


